//Customization for Bootstrap defaults

// Toggle global options
$enable-gradients: false;
$enable-shadows: true;


// Customize some default color

$body-bg: #E6E2C3;
$primary: #88A47C;
$dark: #227C70;
$secondary: #09483f;

@import "bootstrap/scss/bootstrap";


// Custom style for banner image

.banner{
  height: 15vh;
  /*background-image: url("../content/astronautspour.png");*/
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.recipeLink:hover {
  text-decoration: underline;
}

.modalbg {
  //referenced https://www.w3schools.com/howto/howto_css_modals.asp
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.modalDisplayImage {
  width: 75%;
}
