//Customization for Bootstrap defaults

// Toggle global options
$enable-gradients: true;
$enable-shadows: true;


// Customize some default color

$body-bg: #e7e0df;
$primary: #807e89;
$dark: #071633;
$secondary: #c8524f;

@import "bootstrap/scss/bootstrap";


// Custom style for banner image

.banner{
  height: 25vh;
  background-image: url("../content/astronautspour.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.recipeLink:hover {
  text-decoration: underline;
}

.modalbg {
  //referenced https://www.w3schools.com/howto/howto_css_modals.asp
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
}

.modalDisplayImage {
  width: 75%;
}
